{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ object.name }} {{ object.last_name }}</p>
        </div>
      </div>
      <p>Descrição: {{ object.bio }}</p>
      <p>CEP: {{ object.cep }}</p>
      <p>Rua: {{ object.street }}</p>
      <p>Bairro: {{ object.neighborhood }}</p>
      <p>Cidade: {{ object.city }}</p>
      <p>Estado: {{ object.state }}</p>
      <p>Fone: {{ object.phone }}</p>
      <p>Celular: {{ object.cel_phone }}</p>
      <p>Cidade: {{ object.city }}</p>
      <p>CPF: {{ object.cpf }}</p>
      <p>CNPJ: {{ object.cnpj }}</p>

    </div>
  </div>

  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Atulizar Perfil</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}


</div>
{% endblock content %}
